@media all {
    .bg-image {
       background-image: url('./images/bg.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       object-fit: cover;
     }
   }


   @media (min-height: 90px) and (max-height: 5120px) {
    .bg-image {
      background-image: url('./images/bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 65rem;  
      max-height: fit-content;
      
    }
   } 


   @media (min-width: 90px) and (max-width: 5120px) {
    .bg-image {
      background-image: url('./images/bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      max-width:fit-content;
      object-fit: cover;
      
    }
   }


   @media (min-height: 1024px) and (max-height: 5120px) {
    .bg-image {
      background-image: url('./images/bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height:95rem;
    }
   } 
